@font-face {
	font-family: 'NanumGothic';
	src: url('../fonts/NanumGothicCompact.eot?#') format('eot'),  /* IE6–8 */
			url('../fonts/NanumGothicCompact.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url('../fonts/NanumGothicCompact.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'NanumGothic Bold';
	src: url('../fonts/NanumGothicBoldCompact.eot?#') format('eot'),  /* IE6–8 */
			url('../fonts/NanumGothicBoldCompact.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url('../fonts/NanumGothicBoldCompact.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}